{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for book_obj in books %}
    {% set book = book_obj['book'] %}
    {% set inv = book_obj['inventory'] %}
    <article class="book">
      <header>
        <div>
          <h1>{{ book['title'] }}</h1>
            <div class="about">By {{ book['author'] }}, Published by {{ book['publisher']}} on {{ book['published'].strftime('%Y-%m-%d') }}</div>
            <div>
                Price: {{ book['price']}} <br>
            </div>
            <div>
                <form action="{{ url_for('bookstore.add_to_cart') }}" method="POST">
                    Copies:
                    <select name="copies">
                        {% for num in range(1, inv) %}
                            <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="book_id" value= "{{book['id']}}">
                    <input type="submit" name="add_to_cart" value="Add to Cart">
                </form>
            </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
<a class="action" href="{{ url_for('bookstore.purchase_books') }}">Buy Now</a>

{% endblock %}
