{% extends 'base.html' %}
{% block content %}
    <article class="book">
        <h2>Your Orders</h2>
            {% for order in orders %}
            <div>
                <h2>Order Id: {{ order['id'] }}</h2>
                <div>Total Price: {{ order['total_price'] }} <br> Order Status: {{ order['order_status'] }}</div>
                    {% for book in order.books %}
                    <div>
                        <h1>{{ book['title'] }}</h1>
                        <div>Price: {{ book['price'] }}</div>
                    </div>
                    {% endfor %}
            </div>
            {% endfor %}
    </article>
{% endblock %}
